*{
    margin: 0;
    padding: 0;
}
.body-home{
font-family: 'Montserrat', sans-serif;
background-color: black;
}
main .botones-fijos .wp_fijo a {
    font-size: 2.5rem;
    background-color: #ffa500;
    padding: 0px 10px 2px 10px;
    border: rgb(255, 255, 255) solid 2px;
    color: white;
    border-radius: 50px;
    bottom: 120px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 1;
  }
  main .botones-fijos .wp_fijo a i:hover {
    color: rgb(255, 255, 255);
    transform: rotate(360deg);
    transition: 2s;
  }
  main .botones-fijos .subir i {
    background-color: black;
    font-size: 2.5rem;
    padding: 8px 10px;
    border: rgb(255, 255, 255) solid 2px;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    bottom: 30px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 1;
  }

